*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.o
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.bak
*.swp
*.swo
*.swn
*.log
*.csv
*.pot
*.po
*.mo
*.txt
*.rst
.DS_Store
.idea/
.vscode/
*.pyc
*.pyo
*.pyd
*.log
*.sql
*.rml
*.sxw
*.tar.*
*.tgz
*.bak
*.swp
*.swo
*.swn
*.log
*.csv
*.pot
*.po
*.mo
*.txt
*.rst
*.xlsx
*.docx
*.odt
*.ods
*.xml
*.xsl
*.zip
*.rar
*.7z
*.sh
*.bat
*.exe
*.dll
*.so
*.deb
*.rpm
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.iso
*.bin
*.img
*.qcow2
*.vdi
*.vmdk
*.ova
*.ovf
*.xva
*.gz
*.bz2
*.xz
*.lzma
*.lzo
*.z
*.Z
*.lz
*.tlz
*.lz4
*.lzf
*.lzop
*.1
*.lrz
*.2
*.sfark
*.ztz
*.dzip
*.sz
*.??_
*.cab
*.cpio
*.shar
*.lbr
*.iso
*.mar
*.sbx
*.tar.Z
*.lzh
*.lha
*.ha
*.partimg
*.paq8f
*.paq8jd
*.paq8l
*.paq8o
*.lpaq1
*.lpaq5
*.lpaq8
*.ace
*.afa
*.alz
*.arc
*.arj
*.b1
*.ba
*.bh
*.cfs
*.dar
*.dd
*.dgc
*.dmg
*.ear
*.gca
*.ha
*.hki
*.ice
*.jar
*.kgb
*.lzh
*.lha
*.lzx
*.pak
*.partimg
*.paq8f
*.paq8jd
*.paq8l
*.paq8o
*.pea
*.pim
*.pit
*.qda
*.rar
*.rk
*.s7z
*.sit
*.sitx
*.sqx
*.tar.bz2
*.tbz2
*.tgz
*.tar.gz
*.tar.lz
*.taz
*.tlz
*.tar.lzo
*.tar.Z
*.tZ
*.tar.z
*.tzo
*.uc2
*.ue2
*.uca
*.uha
*.war
*.wim
*.xar
*.xp3
*.yz1
*.zip
*.zoo
*.zpaq
*.zz
*.jks
*.cer
*.crt
*.pub
*.key
*.pem
*.pfx
*.der